{% extends 'base.html' %}
{% block content %}
    <style>
        .media-body {
            margin-top: 50px;
        }
    </style>
    <main class="container mt-3">
        <div class="row">
            <div class=" media">
                <img src="{{ object.user.user_picture.url }}"
                     width="256" height="256" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">{{ object.user.last_name }} {{ object.user.first_name }}</h5>
                    <p>О преподавателе: {{ object.description }}</p>
                    <p>На преподавателя подписано {{ object.followers_count }} студентов:
                        {% for follower in followers %}
                            <a href="{% url "student" follower.student.id %}">
                                {{ follower.student.user.first_name }}</a>
                        {% endfor %}
                    </p>
                    <p>
                        Опыт преподавания: {{ object.year_experience }} лет;
                        {% if object.is_phd %}
                        Имеет докторскую степень;
                        {% endif %}
                    </p>
                {% if is_follow %}
                <a href="{% url "delete_teacher_from_favorite" object.id %}" class="btn btn-secondary">Отписаться</a>
                {% else %}
                <a href="{% url "add_teacher_to_favorite" object.id %}" class="btn btn-primary">Подписаться</a>
                {% endif %}
                </div>
            </div>
        </div>
        <section class="mt-1 pt-5">
            <h2 class="h2 font-weight-normal text-center mb-5">Преподает на {{ object.courses_count }} курсах</h2>
            <div class="row">
                {% for cours in courses %}
                    <div class="col-md-6 pt-5">
                        <div class="card" style="width: 27rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ cours.title|slice:30 }}</h5>
                                <p class="card-text">{{ cours.description|slice:80 }}...</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Категория: {{ cours.category }}</li>
                                <li class="list-group-item">Записалось студентов:
                                    {{ cours.student_count }}</li>
                                <li class="list-group-item">Дата начала: {{ cours.start_date }}</li>
                                <li class="list-group-item">Дата окончания: {{ cours.end_date }}</li>
                                <li class="list-group-item">Стоимость: {{ cours.price }}</li>
                            </ul>
                            <div class="card-body">
                                {% if not cours.is_join_course %}
                                    <a href="{% url "join_the_course" cours.id %}" class="btn btn-primary">Поступить на
                                        курс </a>
                                {% else %}
                                    <a href="{% url "leave_the_course" cours.id %}" class="btn
                                    btn-secondary">Покинуть курс </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
